<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white text-center">
                        <h2>Погода в вашем городе</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                <label for="city">Введите название города</label>
                                {{ form.name }}
                            </div>
                            <button type="submit" name="send" class="btn btn-primary btn-block">Узнать погоду</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-success text-white text-center">
                        <h2>Информация</h2>
                    </div>
                    <div class="card-body">
                    {% for info in all_info %}
                        <div class="col-12 mb-3">
                            <div class="weather-card d-flex align-items-center">
                                <div class="mr-3">
                                    <b>Город:</b> {{info.city}}<br>
                                    <b>Температура:</b> {{info.temp}}<sup>0</sup>
                                </div>
                                <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды" class="img-thumbnail mx-3" style="max-width: 50px;">
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Подключение Bootstrap JS и jQuery (для интерактивных элементов, если необходимо) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
